<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>Rise of the HaCRS</title>
</head>
<body>
<div class="container">
<h1>Rise of the HaCRS</h1>
<p>
<a href="login">Login to System</a>
</p>
<p>
Read more:
</p>
<ul>
    <li><a href="http://mweissbacher.com/publications/ccs_hacrs.pdf">Paper</a></li>
    <li><a href="http://mweissbacher.com/blog/2017/09/26/hacrs-improves-mechanical-phish-bug-finding-with-human-assistance/">Blog Post</a></li>
    <li><a href="http://mweissbacher.com/publications/c3e_hacrs.pdf">Poster</a></li>
</ul>
<p>
Contact us:
</p>
<ul>
    <li>Yan Shoshitaishvili : yans ( at ) asu.edu</li>
    <li>Michael Weissbacher : mw ( at ) ccs.neu.edu</li>
</ul>
</div>
</body>
</html>
