<html xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2006-07-14/ExternalQuestion.xsd">
    <head>
        {{{ header }}}
    </head>
    <body>
    {{{ internal_links }}}

    <script src="/static/internal/showusers.js"></script>

	<table id = "users-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		<tr>
			<th>Username</th>
			<th>Permissions</th>
			<th>Type</th>
		</tr>
		</thead>
	</table>

    <script>
        var users = JSON.parse(unescape("{{users}}"));
    </script>
    </body>
</html>

