<html xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2006-07-14/ExternalQuestion.xsd">
    <head>
        {{{ header }}}
    </head>
    <body>
        {{{ internal_links }}}

    <script src="/static/internal/showcoverage.js"></script>

	<table id = "coverage-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		<tr>
			<th>Program</th>
			<th>Coverage</th>
		</tr>
		</thead>
	</table>

    <script>
        var coverage = JSON.parse(unescape("{{coverage}}"));
    </script>
</html>

